.feature {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.feature__item {
  width: 100%;
  margin-bottom: 30px;
  &:last-child {
    margin-bottom: 0;
  }

  @media screen and (min-width: 480px) {
    width: 450px;
  }

  @media screen and (min-width: 768px) {
    width: 354px;
  }

  @media screen and (min-width: 1200px) {
    width: 270px;
  }
  // &:last-child {
  //   margin-right: 0;
  // }
  // margin-right: 30px;
}

.feature__svg {
  display: block;
  height: 120px;
  border-radius: 4px;
  background-color: $buttonThirdColor;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.feature__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;
  color: $secondColor;

  @media screen and (min-width: 768px) {
    text-align: start;
  }
}

.feature__text {
  color: $thirdCOlor;
}
